.jumbotron {
    padding: 5px;
    padding-left: 110px;
    background-color: MidnightBlue;
    color: #f0f0f0;
}

h3,
strong {
    color: MidnightBlue;
}

.my_tooltip {
    display: none;
    color: gray;
}

.tab-content {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
    height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}
